@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono";
}

body {
  background-color: #c5e4e7;
}

.splitter {
  display: flex;
  margin: auto;
  margin-top: 50px;
}

.container {
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: none;
  margin-top: 40px;
  padding: 32px;
}

h2 {
  color: #5e7a7d;
  font-size: 16px;
  font-weight: 700;
}

.bill {
  border: none;
  width: 100%;
  height: 48px;
  background-color: #f3f9fa;
  border-radius: 5px;
  margin-top: 6px;
  background-image: url(./resorces/./$.svg);
  background-repeat: no-repeat;
  background-position: 5% 50%;

  margin-bottom: 32px;
  text-align: right;
  font-size: 24px;
  color: #00474b;
  padding-right: 17px;
}

.boxes button {
  width: 146.631px;
  height: 48px;
  border-radius: 5px;
  background: #00474b;
  border: none;
  color: white;
  font-size: 24px;
}

.boxes {
  margin-top: 16px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  margin-bottom: 32px;
}

.boxes .Custom {
  width: 118px;
  height: 48px;
  background-color: #f3f9fa;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  text-align: right;
  padding-right: 15px;
}

.People {
  width: 100%;
  height: 48px;
  border: none;
  text-align: right;
  font-size: 24px;
  padding-right: 17px;
  background-color: #f3f9fa;
  border-radius: 5px;
  margin-top: 6px;
  background-image: url(./resorces/./person.svg);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  margin-bottom: 32px;
}

.peoplenumber {
  margin-right: 17px;
  color: #00474b;
  text-align: right;
  font-size: 24px;
}

.result {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #00474b;
  padding: 37px 22px 24px 24px;
}

h4 {
  color: #fff;
  font-size: 16px;
}

h5 {
  color: #7f9d9f;
  font-size: 13px;
}

h6 {
  color: #26c2ae;
  font-size: 32px;
}

.tipamount {
  display: flex;
  justify-content: space-between;
}
.total {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}

.result button {
  color: #00474b;
  background-color: #26c2ae;
  font-size: 20px;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 5px;
  margin-top: 35px;
}

@media screen and (min-width: 1400px) {
  body {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .splitter {
    margin-top: 163px;
    margin-bottom: 88px;
  }

  .container {
    width: 920px;
    height: 481px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-left: 48px;
    box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.2);
  }

  .result {
    width: 413px;
    height: 417px;
    padding: 40px 40px 40px 40px;
  }

  h2 {
    margin-top: 13px;
  }

  .box:hover {
    border: 2px solid #26c2ae;
  }

  .boxes button {
    width: 117px;
    height: 48px;
  }

  .boxes button:hover {
    background-color: #9fe8df;
    color: #00474b;
    transition: 0.1s;
    cursor: pointer;
  }

  .boxes {
    grid-template-columns: auto auto auto;
  }

  h6 {
    font-size: 48px;
  }

  h4 {
    margin-top: 20px;
  }

  .result button {
    margin-top: 122px;
    background-color: #0d686d;
    color: #00474b;
  }

  .result button:hover {
    background-color: #9fe8df;
    transition: 0.1s;
    cursor: pointer;
  }
}
